__pycache__/
spinnaker_python-3.1.0.79-cp310-cp310-linux_x86_64/
spinnaker-3.1.0.79-amd64/
ur10e_tele/outputs/
ur10e_tele/oculus_aug/
recycle_bin/session_0/
recycle_bin/session_1/
recycle_bin/session_2/
recycle_bin/session_3/
recycle_bin/session_4/
recycle_bin/session_5/
recycle_bin/session_6/
recycle_bin/outputs/
recycle_bin/archive/
recycle_bin/stuffed_toy_tele_no_ag/
